<div class="wrapper">
    <div class="card img"></div>
  
    <form class="form card" [formGroup]="myForm">
      <div class="head" (click)="onBack()">
        <mat-icon>keyboard_backspace</mat-icon>
        <p>Back</p>
      </div>
      <h2>Reset Password</h2>
      <mat-form-field appearance="outline">
        <mat-label>Fill New Password</mat-label>
        <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'"/>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
  
      <div class="btn">
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
