<mat-toolbar>
  <p class="name">Waroeng Mbak Atik</p>

  <div class="wrap-left"></div>

  <div class="wrap-right">
    <button mat-button [routerLink]="['Homepage']" routerLinkActive="active">
      {{ "app.home" | translate }}
    </button>
    <button mat-button [routerLink]="['About']" routerLinkActive="active">
      {{ "app.about" | translate }}
    </button>
    <button
      mat-button
      [routerLink]="['Menu']"
      routerLinkActive="active"
      *ngIf="role == 'User' || 'Admin'"
    >
      {{ "app.menu" | translate }}
    </button>
    <button mat-button [routerLink]="['Cart']" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu class="menu" #menu="matMenu">
    <div class="admin" *ngIf="role == 'Admin'">
      <mat-icon >supervisor_account</mat-icon>
      <button mat-menu-item [matMenuTriggerFor]="view">Admin</button>
    </div>
    <div class="user" *ngIf="role == 'User'">
      <mat-icon>person</mat-icon>
      <p>Customer</p>
    </div>
    <div class="credit" *ngIf="isLogin">
      <mat-icon>credit_card</mat-icon>
      <p>
        {{ balances?.credit | currency : "Rp " }}
      </p>
    </div>

    <button mat-menu-item *ngIf="isLogin" (click)="isLogout()">
      {{ "app.logout" | translate }}
    </button>
    <button
      mat-menu-item
      [routerLink]="['/Register/RegisterUser']"
      routerLinkActive="active"
      *ngIf="!isLogin"
    >
      {{ "app.register" | translate }}
    </button>
    <button
      mat-menu-item
      [routerLink]="['Login']"
      routerLinkActive="active"
      *ngIf="!isLogin"
    >
      {{ "app.login" | translate }}
    </button>
  </mat-menu>

  <mat-menu id="h-fit" class="view" #view="matMenu">
    <button
      mat-button
      [routerLink]="['F&BManagement']"
      routerLinkActive="active"
      *ngIf="role == 'Admin'"
    >
      {{ "app.menu-management" | translate }}
    </button>
    <button
      mat-button
      [routerLink]="['StockManagement']"
      routerLinkActive="active"
      *ngIf="role == 'Admin'"
    >
      {{ "app.stock-management" | translate }}
    </button>
    <button
      mat-button
      [routerLink]="['OrderList']"
      routerLinkActive="active"
      *ngIf="role == 'Admin'"
    >
      {{ "app.order-list" | translate }}
    </button>
  </mat-menu>
  <div class="lang">
    <span class="fi fi-us"></span>
    <mat-slide-toggle
      color="primary"
      (change)="setLang($event)"
    ></mat-slide-toggle>
    <span class="fi fi-id"></span>
  </div>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
