<mat-toolbar>
  <a [routerLink]="['']">
    <img
      src="https://cdn.pixabay.com/photo/2021/05/25/02/03/restaurant-6281067_1280.png"
      alt="me"
    />
  </a>
  
  <div class="wrap-left"></div>

  <div class="wrap-right">
    <button mat-button [routerLink]="['About']" routerLinkActive="active">About</button>
    <button mat-button [routerLink]="['Menu']" routerLinkActive="active" *ngIf="role == 'User'|| 'Admin'">Menu</button>
    <button mat-button [routerLink]="['MenuManagement']" routerLinkActive="active" *ngIf="role == 'Admin'">Menu Management</button>
    <button mat-button [routerLink]="['StockManagement']" routerLinkActive="active" *ngIf="role == 'Admin'">Stock Management</button>
    <button mat-button [routerLink]="['Login']" routerLinkActive="active" *ngIf="!isLogin">Login</button>
    <button mat-button [routerLink]="['Cart']">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>
  <button mat-button *ngFor="let menu of menus" [routerLink]="[menu?.routing]">{{ menu?.page }}</button>
  <button mat-button *ngIf="isLogin" (click)="isLogout()">Logout</button>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

