<div class="wrapper">
  <div class="card img"></div>

  <form class="form card" [formGroup]="myForm">
    <div class="head" (click)="onBack()">
      <mat-icon>keyboard_backspace</mat-icon>
      <p>Back</p>
    </div>
    <h2>Forgot Password</h2>
    <mat-form-field appearance="outline">
      <mat-label>Fill your Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <div class="btn">
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
