.qty{
  margin-right: 20px;
  width: 80px;
}
.flex {
  display: flex;
}
.flex>img{
  margin-right: 30px;
}
.card{
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.input{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 50px;
  margin-right: 30px;
  
}

.btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
}