<div class="wrap-card">
  <div class="card s1">
      <h2>
        <span class="k1">
          Food is not rational.
        </span> 
        <br>
        <span class="k2">
          Food is culture, habit, craving and identity.
        </span>
        <br />
        <span class="quote">
          <em> -Jonathan Safran Foer</em>
        </span>
      </h2>
    <div class="btn">
      <button mat-raised-button color="primary" [routerLink]="['Menu']">{{'home.btn-menu' | translate}}</button>
      <button mat-raised-button color="primary" [routerLink]="['Login']">{{'home.btn-order' | translate}}</button>
    </div>
  </div>
  <div class="card img">
    <div class="best" *ngFor="let item of items">
      <h2><span class="best1">Our Best Menu: </span> <span class="best2">{{item?.recipe_name}}</span></h2>
      <img class="image" [src]="item?.image" alt="me">
    </div>
  </div>
</div>

<h2>Special Offer</h2>
<div class="wrapper2" >
  <div class="card2" *ngFor="let special of specials">
    <img [src]="special.image" alt="me">
  </div>
</div>
