.wrap-card{
  display: flex;
  top: 0;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  padding-top: 80px;
}

.card{
  width: 50%;
}

.k1, .k2{
  font-size: 50px;
  
}

.k1{
  color: rgb(129, 56, 161);
}

.quote{
  font-size: 35px;
}

.s1{
  padding-left: 110px;
}

.btn{
  display: flex;
  gap: 15px;
}

.img{
  padding-left: 100px;
  padding-right: 40px;
}

.wrapper2{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

.card2{
  width: calc((100%/3) - 100px);
  border: 1px solid black;
  height: 250px;
  border-radius: 1rem;
}








