.wrap-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.card{
  width: 50%;
}

.k1, .k2{
  font-size: 50px;
  
}

.k1{
  color: rgb(129, 56, 161);
}

.quote{
  font-size: 35px;
}

.s1{
  margin-left: 50px;
}

.btn{
  display: flex;
  gap: 15px;
}




