<div class="wrap-card">
  <div class="card s1">
      <h2>
        <span class="k1">
          Food is not rational.
        </span> 
        <br>
        <span class="k2">
          Food is culture, habit, craving and identity.
        </span>
        <br />
        <span class="quote">
          <em> -Jonathan Safran Foer</em>
        </span>
      </h2>
    <div class="btn">
      <button mat-raised-button color="primary" [routerLink]="['Menu']">See Menu</button>
      <button mat-raised-button color="primary" [routerLink]="['Login']">Order Now</button>
    </div>
  </div>
  <div class="card">
    <img src="" alt="">
  </div>
</div>
