<h3>{{"app-menu-management" | translate}}</h3>
<form [formGroup]="myForm">
  <mat-form-field class="input" appearance="fill">
    <mat-label>{{"management.name" | translate}}</mat-label>
    <input matInput formControlName="recipe_name" />
  </mat-form-field>
  <br />
  <mat-form-field class="input" appearance="fill">
    <mat-label>{{"management.price" | translate}}</mat-label>
    <input type="number" min="0" matInput formControlName="price" />
  </mat-form-field>
  <br />
  <mat-form-field class="input" appearance="fill">
    <mat-label>{{"management.image" | translate}}</mat-label>
    <input matInput formControlName="image" />
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>{{"management.desc" | translate}}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredientsForms.controls; let i = index">
      <div [formGroupName]="i">
        <h3>{{"management.ingredient" | translate}} {{ i + 1 }}</h3>

        <mat-form-field class="input" appearance="fill">
          <mat-label>{{"management.name" | translate}}</mat-label>
          <mat-select matInput formControlName="ingredient_id">
            <mat-option
              *ngFor="let ingredient of stockIngredient"
              [value]="ingredient._id"
              >{{ ingredient.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>{{"management.stock" | translate}}</mat-label>
          <input type="number" min="0" matInput formControlName="stock_used" />
        </mat-form-field>

        <button
          class="btn-del"
          color="warn"
          type="button"
          mat-raised-button
          (click)="removeForm(i)"
          *ngIf="ingredientsForms.length > 1"
        >
          Delete
        </button>
      </div>
    </div>
    <button
      type="button"
      mat-raised-button
      color="prmary"
      (click)="addIngredients()"
    >
    {{"management.addIngre" | translate}}
    </button>
  </div>
  <button mat-raised-button color="warn" (click)="onCancel()">{{"management.cancel" | translate}}</button>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    class="btn"
    (click)="onClose()"
  >
  {{"management.submit" | translate}}
  </button>
</form>
