
  <div class="wrapper" >
    <div class="card img"></div>
    <form class="form card" [formGroup]="myForm">
      <mat-form-field class="head" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input type="password" id="password" matInput formControlName="password" />
      </mat-form-field>
      <mat-checkbox (change)="onShow($event)">Show Password</mat-checkbox>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="onSubmit()">
          LOGIN
        </button>
      </div>
    </form>
  </div>
  

