

.form {
  width: 100%;
  height: 92vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

.wrapper{
  display: flex;
  justify-content: space-between;
 
}

.card{
  width: 50%;
}

.img{
  background-image: url('https://images.unsplash.com/photo-1501959915551-4e8d30928317?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  background-position-y: 100%;
 
}

.card .head{
  margin-top: 100px;
}