<div class="img1">
  <div class="wrap">
    <img src="../../assets/resto icon.png" alt="me" />
    <div class="name">
      <h2>Waroeng Mbak Atik</h2>
    </div>
  </div>
</div>
<div class="text">
  <p>
    LOCATED ON A VIBRANT PEDESTRIANISED MARKET STREET, WAROENG MBAK ATIK IS A
    BRIGHT AND AIRY SPACE WITH GLAZED FRONTAGE ON TWO SIDES AND AN OUTSIDE
    TERRACE ON THE MARKET. SERVING OUR SIGNATURE WELL-TRAVELLED BREAKFAST AND
    ALL DAY FOOD AND DRINKS MENUS, ALONG WITH OUR FRESHLY ROASTED COFFEE FROM
    THE CARAVAN ROASTERY, OUR STYLE IS OPEN, RELAXED AND FRIENDLY. COME DOWN FOR
    A COFFEE WITH THE MORNING PAPER, A COCKTAIL AND SMALL PLATES IN THE EVENING
    AND ANYTHING IN BETWEEN!
  </p>
</div>
<div class="img2"></div>
<div class="wrap-card">
  <div class="card">
    <div class="wrap-title">
      <h3>LOCATION</h3>
    </div>
    <p>Corongan Rw 5 Rt 23 Maguwoharjo, Corongan, Maguwoharjo, Kec. Depok, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55282</p>
    <p class="loc">
      <a href="https://www.google.com/maps/place/Warung+Makan+Bu+Atik/@-7.7756797,110.4132438,16z/data=!4m11!1m3!2m2!1swarung+makan+terdekat!6e5!3m6!1s0x2e7a59f458d993df:0xd53041cc17b9c72e!8m2!3d-7.7756713!4d110.4219564!15sChV3YXJ1bmcgbWFrYW4gdGVyZGVrYXQiA5ABAVoXIhV3YXJ1bmcgbWFrYW4gdGVyZGVrYXSSARNqYXZhbmVzZV9yZXN0YXVyYW504AEA!16s%2Fg%2F11bzrq62v0">View Map</a>
    </p>
  </div>
  <div class="card">
    <div class="wrap-title">
      <h3>OPENING TIMES</h3>
    </div>
    <div class="opening">
      <p>Monday-Thursday: 08.00 — 23.00</p>
      <p>Friday: 08.00 — 24.00</p>
      <p>Saturday: 09.00 — 24.00</p>
      <p>Sunday: 09.00 — 17.00</p>
    </div>
  </div>
  <div class="card">
    <div class="wrap-title">
      <h3>CONTACT</h3>
    </div>
    <div class="socmed">
      <div class="mt">
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/gmail-email-logo-png-16.png"
            alt="email"
            width="40"
            height="auto"
        /></span>
        <span>waroengmbakatik@zettacamp.pro</span>
      </div>
      <div>
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/logo-telepon-png/phone-telephone-communication-vector-graphic-10.png"
            alt="telepon"
            width="40"
            height="auto"
        /></span>
        <span>082111406341</span>
      </div>
      <div>
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-stunning-instagram-logo-vector-download-for-new-7.png"
            alt="ig"
            width="40"
            height="auto"
        /></span>
        <span>WaroengMbakAtik</span>
      </div>
    </div>
  </div>
</div>
