<div class="img1">
</div>
<div class="contact">
  <div class="card">
    <h2 class="title-contact">If you have a question, please let us know</h2>
    <div class="socmed">
      <div class="mb">
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/gmail-email-logo-png-16.png"
            alt="email"
            width="40"
            height="auto"
        /></span>
        <span>restobrembo@zettacamp.pro</span>
      </div>
      <div class="mb">
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/logo-telepon-png/phone-telephone-communication-vector-graphic-10.png"
            alt="telepon"
            width="40"
            height="auto"
        /></span>
        <span>082111406341</span>
      </div>
      <div>
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-stunning-instagram-logo-vector-download-for-new-7.png"
            alt="ig"
            width="40"
            height="auto"
        /></span>
        <span>RestoBrembo</span>
      </div>
    </div>
  </div>
  <div class="card"></div>
</div>
