.img1{
  width: 100%;
  height: 800px;
  background-image: url('https://caravanrestaurants.co.uk/perch/resources/cjp7f2fa.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}


.wrap{
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: fit-content;
  margin-top: 300px;
}

.wrap img{
  width: 200px;
  height: 200px;
}

.name{
  border-top: 4px solid blueviolet;
  border-bottom: 4px solid #8a2be2;
  
}

.name h2{
  color: blueviolet;
  font-weight: bolder;
  text-shadow: 0 2px 5px whitesmoke, 
      -1px 3px 5px whitesmoke, 
      -2px 5px 5px whitesmoke;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 100px;
}

.text p{
  font-size: large;
}

.img2{
  background-image: url('https://caravanrestaurants.co.uk/perch/resources/6m0xgbyq.jpeg');
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-card{
  display: flex;
  justify-content: space-between;
  height: 400px;
  padding: 60px;
}

.card{
  width: calc((100% / 3) - 60px);
  display: flex;
  flex-direction: column;
}

.wrap-title{
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  display: flex;
  justify-content: center;
}

.socmed{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.socmed img{
  vertical-align: middle;
  margin-right: 10px;
}

.mt{
  margin-top: 20px;
}

.opening{
  margin-top: 10px;
}

.loc a{
  text-decoration: none;
}

