<div class="img1">
  <h3>Waroeng Mbak Atik is a traditional restaurant where is has a traditional food in its menu. The menus have very indonesian taste with strong herb and spices from indonesia. This shop is looking to go international, the first step we take is to make this shop accessible online. This stall has a menu that is a variant of various regional specialties </h3>
</div>
<div class="contact">
  <div class="card">
    <h2 class="title-contact">If you have a question, please let us know</h2>
    <div class="socmed">
      <div class="mb">
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/gmail-email-logo-png-16.png"
            alt="email"
            width="40"
            height="auto"
        /></span>
        <span>warungmbaatik@zettacamp.pro</span>
      </div>
      <div class="mb">
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/logo-telepon-png/phone-telephone-communication-vector-graphic-10.png"
            alt="telepon"
            width="40"
            height="auto"
        /></span>
        <span>082111406341</span>
      </div>
      <div>
        <span
          ><img
            src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-stunning-instagram-logo-vector-download-for-new-7.png"
            alt="ig"
            width="40"
            height="auto"
        /></span>
        <span>WaroengMbaAtik</span>
      </div>
    </div>
  </div>
  <div class="card"></div>
</div>
