.wrap{
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 60px;
}

table{
  width: 1000px;
  margin: auto;
  margin-top: 10px;
}

.action td{
  text-align: center;
}

img{
  width: 50px;
  height: 50px;
}

.btn-open{
  margin-right: 700px;
}