<h2>Special Offer</h2>
<form [formGroup]="myForm">
  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input type="number" min="1" matInput formControlName="amount" />
    <mat-error *ngIf="myForm.get('amount')?.errors?.['min']"
      >Amount must be greater than zero</mat-error
    >
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Note</mat-label>
    <input matInput formControlName="note" />
  </mat-form-field>
  <br />
  <button
    class="cancel"
    mat-raised-button
    color="warn"
    (click)="onCancel()"
    cdkFocusInitial
  >
    Cancel
  </button>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    cdkFocusInitial
  >
    Submit
  </button>
</form>
