<div class="wrap">
  <div class="form" [formGroup]="myForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input [disabled]="3 < 4" formControlName="name" matInput />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Stock</mat-label>
      <input type="number" matInput formControlName="stock" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()" cdkFocusInitial>Cancel</button>
    <button mat-raised-button color="primary" (click)="onClose()" cdkFocusInitial>
      Submit
    </button>
  </div>
</div>
